<h1 class="m-3 text-right">ثبت نام مسافران</h1>
<div class="text-center">
  <h6 class="toast-header rtl">
    <p>
      <strong class="mr-auto text-primary">
        {{flightTitle}}</strong>
    </p>
  </h6>
  <h6 class="toast-header rtl">
    <strong class="mr-auto text-primary">
      <p>تعداد مسافرین: {{passengersCount}} نفر</p>
    </strong>
  </h6>
</div>


<form (ngSubmit)="Reserve()" *ngIf="passengers">
  <div *ngFor="let pass of passengers">
    <h6 class="rtl">
      <p>{{pass.Title }}</p>
    </h6>
    <div class="container p-3 my-3 border row rtl">


      <div class="form-group col-md-5">
        <label for="NationalityCode">کد ملی</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="pass.NationalityCode" />
      </div>
      <div class="form-group col-md-5">
        <label for="FullName">نام </label>
        <input type="text" name="FullName" class="form-control" [(ngModel)]="pass.FullName" />
      </div>
      <div class="form-group col-md-2">
        <label for="Age">سن</label>
        <input type="number" name="Age" class="form-control" [(ngModel)]="pass.Age" />
      </div>
      <div class="form-group">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    <span class="mr-1"></span>
    تایید نهایی
  </button>
</form>
